main {
    padding: 1em
}

body {
    margin: 0
}

.title {
    background-color: darkslategrey;
    color: lightcoral;
    text-align: center;
}

.content {
    background-attachment: lightgrey;
    background-image: url("record.png"));
    background-repeat: repeat;
}

